<div ng-controller="modules.manage.controllers.app">
    <div class="navbar navbar-inverse navbar-fixed-top" style="margin: 0">
        <div class="navbar-header navbar-form">
            <button class="btn btn-primary" ng-click="workbenchService.toggle()"><i class="fa fa-bars fa-fw" aria-hidden="true"></i></button>
        </div>
        <div ui-view="header">

        </div>
        <div class="navbar-right container-fluid">
            <ul class="nav navbar-nav">
                <li>
                    <a href="" ng-show="$state.current.name!=='app.main'" ng-click="$state.go('app.main', { appid: $stateParams.appid })"><i class="fa fa-reply fa-fw"></i> 返回应用</a>
                    <a href="" ng-show="$state.current.name==='app.main'" ng-click="$state.go('app.edit', { appid: $stateParams.appid })"><i class="fa fa-cog fa-fw"></i> 管理应用</a>
                </li>
                <li><a>|</a></li>
                <li>
                    <a href="" ng-click="messageService.toggle()"><i class="fa fa-bell fa-fw" aria-hidden="true"></i></a>
                </li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fa fa-user-circle-o fa-fw" aria-hidden="true"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="">用户信息</a></li>
                        <li><a href="">个性化设置</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="">注销</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div ui-view="content" class="yun-content">

    </div>
    <div class="yun-workbench-back" ng-click="workbenchService.toggle()"></div>
    <div class="yun-workbench" ng-controller="modules.manage.controllers.workbench">
        <div class="navbar navbar-default navbar-static-top">
            <div class="navbar-header">
                <span class="navbar-brand"><i class="glyphicon glyphicon-briefcase"></i></span>
            </div>
            <div class="navbar-header">
                <span class="navbar-brand"><strong>工作台</strong></span>
            </div>
            <div class="navbar-right container-fluid">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="close" aria-label="Close" ng-click="workbenchService.toggle()"><span aria-hidden="true">&times;</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <!--功能: start-->
        <div class="yun-functions">
            <div class="container-fluid">
                <div class="col-md-4">
                    <a href="" class="btn-link" ng-click="$state.go('app.user', { appid: $stateParams.appId })">
                        <div class="item-circle bg-info">
                            <div class="item-circle-sm circle-info">
                                <i class="glyphicon glyphicon-user"></i>
                            </div>
                        </div>
                        <h5 class="text-center">成员</h5>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="" class="btn-link">
                        <div class="item-circle bg-warning">
                            <div class="item-circle-sm circle-warning">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </div>
                        </div>
                        <h5 class="text-center">代办任务</h5>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="" class="btn-link">
                        <div class="item-circle bg-danger">
                            <div class="item-circle-sm circle-danger">
                                <i class="glyphicon glyphicon-edit"></i>
                            </div>
                        </div>
                        <h5 class="text-center">发起流程</h5>
                    </a>
                </div>
            </div>
        </div>
        <!--功能: end-->
        <div class="yun-apps panel-body">
            <div class="container-fluid row">
                <!--应用图标: start-->
                <div class="col-md-3" ng-repeat="appinf in $yun.apps">
                    <div class="panel appblock" ng-class="{ 'panel-default': !appinf.actived, 'panel-primary': appinf.actived }">
                        <div class="panel-heading"></div>
                        <div class="panel-body appbody">
                            <a href="" role="button" ng-click="$state.go('app', { appid: appinf.appId });workbenchService.toggle()">
                                <p class="text-center">
                                    <span ng-class="{ 'text-muted': !appinf.actived, 'text-primary': appinf.actived }" style="font-size: 36pt">
                                        <i ng-class="{true: appinf.icon, false: 'glyphicon glyphicon-th-large'}[appinf.icon!==undefined && appinf.icon!=='']"></i>
                                    </span>
                                </p>
                            </a>
                        </div>
                        <div class="panel-footer clearfix">
                            <a href="" ng-click="$state.go('app.edit', { appid: appinf.appId });workbenchService.toggle()"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> 管理应用</a>
                            <div class="pull-right dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fa fa-edit fa-fw" aria-hidden="true"></i></a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="" ng-click="appinf.nameEditing=true">修改名称</a></li>
                                    <li><a href="" ng-click="changeAppIcon(appinf)">修改样式</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="">复制</a></li>
                                    <li ng-show="appinf.enabled"><a href="" ng-click="appinf.enabled=false">禁用</a></li>
                                    <li ng-show="!appinf.enabled"><a href="" ng-click="appinf.enabled=true">启用</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="" ng-click="dropApp(appinf.appId)">删除</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <p class="text-center" ng-hide="appinf.nameEditing===true" style="height: 40px">
                        <label ng-class="{ 'label label-primary': appinf.actived }">{{appinf.appName}}</label>
                    </p>
                    <div class="text-center" ng-show="appinf.nameEditing===true" style="height: 40px">
                        <div class="form-group">
                            <div class="input-group" ng-class="{ 'has-error': appinf.appName===''||appinf.appName===null }">
                                <input class="form-control" ng-model="appinf.appName">
                                <div class="input-group-btn">
                                    <button class="btn btn-success" ng-disabled="appinf.appName===''||appinf.appName===null" ng-click="changeAppName(appinf)"><i class="glyphicon glyphicon-ok"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--应用图标: end-->
                <div class="col-md-3">
                    <button class="btn btn-default appblock" style="width: 100%" ng-click="addApp()"><i class="glyphicon glyphicon-plus"></i> 创建新应用</button>
                </div>
            </div>
        </div>
    </div>
    <div class="yun-message-back" ng-click="messageService.toggle()"></div>
    <div class="yun-message" ng-controller="modules.manage.controllers.messages">
        <div class="navbar navbar-default navbar-static-top">
            <div class="navbar-left col-md-offset-5">
                <div class="navbar-header">
                    <span class="navbar-brand"><i class="glyphicon glyphicon-comment"></i></span>
                </div>
                <div class="navbar-header">
                    <span class="navbar-brand"><strong>消息管理</strong></span>
                </div>
            </div>
            <div class="navbar-right container-fluid">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="close" aria-label="Close" ng-click="messageService.toggle()"><span aria-hidden="true">&times;</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>