<div class="yun-left">
    <!--首页功能-->
    <div class="navbar navbar-default navbar-static-top" style="margin: 0">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav" style="width: 100%">
                <li class="text-center" ng-class="{ 'active': menuType===0 }" style="width: 50%"><a href="" ng-click="menuType=0"><i class="glyphicon glyphicon-th-list"></i> 应用菜单</a></li>
                <li class="text-center" ng-class="{ 'active': menuType===1 }" style="width: 50%"><a href="" ng-click="menuType=1"><i class="glyphicon glyphicon-heart"></i> 收藏夹</a></li>
            </ul>
        </div>
    </div>
    <!--菜单栏-->
    <div class="yun-nav">
        <div tree-view ng-show="menuType===0" tree-data="$yun.groups[$yun.actived.appId]" text-field="groupName" value-field='groupId'></div>
    </div>
</div>
<div class="yun-right">
    <div class="navbar navbar-blank navbar-static-top" style="margin: 0">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href=""><i class="glyphicon glyphicon-home"></i></a>
            </div>
        </div>
    </div>
    <!--主内容-->
    <div style="margin-top: 50px">

    </div>
</div>