<div ng-controller="modules.manage.controllers.editHeader">
    <!-- <div class="navbar-header navbar-form">
        <button class="btn btn-primary" ng-click="workbenchService.toggle()"><i class="fa fa-bars fa-fw" aria-hidden="true"></i></button>
    </div> -->
    <div ng-hide="titleEditing===true">
        <strong><a href="" class="navbar-brand" ng-click="titleEditing=true"><u>{{$yun.actived.appName}}</u></a></strong>
    </div>
    <div class="navbar-header navbar-form" ng-hide="titleEditing===false">
        <div class="input-group">
            <input class="form-control" ng-model="$yun.actived.appName">
            <div class="input-group-btn">
                <div class="btn-group">
                    <button class="btn btn-success" ng-click="changeTitle()"><i class="glyphicon glyphicon-ok"></i></button>
                    <button class="btn btn-danger" ng-click="titleEditing=false"><i class="glyphicon glyphicon-remove"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>