<div>
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="$dismiss()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><i class="glyphicon glyphicon-th-list"></i>&nbsp;新建表单</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6 text-center">
                <a href="" class="btn btn-default" style="width: 100%; padding: 30px" ng-click="$close('import')">
                    <p style="font-size: 70px"><i class="glyphicon glyphicon-import"></i></p>
                    <p>Excel 导入</p>
                </a>
            </div>
            <div class="col-md-6 text-center">
                <a href="" class="btn btn-default" style="width: 100%; padding: 30px" ng-click="$close('create')">
                    <p style="font-size: 70px"><i class="glyphicon glyphicon-duplicate"></i></p>
                    <p>创建</p>
                </a>
            </div>
        </div>
    </div>
</div>