body {
    overflow: hidden;
}

.navbar-blank {
    background-color: white;
    border-color: #e7e7e7;
}

.yun-content {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
}

.yun-content .yun-left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    border-right-style: solid;
    border-color: #e7e7e7;
    border-right-width: 1px;
}

.yun-content .yun-right {
    position: absolute;
    top: 0;
    left: 251px;
    bottom: 0;
    right: 0;
}

.yun-addbtn {
    width: 220px;
    padding: 15px;
    word-wrap: break-word !important;
    word-break: break-all !important;
    white-space: normal !important;
}

.yun-addbtn i {
    margin: 40px 0;
}

.yun-workbench {
    background: white;
    width: 900px;
    position: absolute;
    z-index: 1036;
    left: 0;
    top: 0;
    height: 100%;
    overflow: hidden;
    border-color: #e7e7e7;
    border-right-style: solid;
    border-right-width: 1px;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

.yun-workbench-back {
    background-color: black;
    opacity: .5;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1035;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.yun-workbench .yun-functions {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    height: 205px;
    padding: 40px 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #e7e7e7;
}

.yun-workbench .yun-apps {
    position: absolute;
    top: 256px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f8f8f8;
    overflow: auto;
}

.yun-apps .appblock {
    height: 150px;
}

.yun-apps .appbody {
    height: 86px;
}

.yun-app .yun-workbench {
    left: -900px;
}

.yun-app .yun-workbench-back {
    visibility: hidden;
}

.item-circle {
    width: 90px;
    height: 90px;
    padding-top: 10px;
    margin: 0 auto;
    -moz-border-radius: 45px;
    -webkit-border-radius: 45px;
    border-radius: 45px;
}

.item-circle-sm {
    width: 70px;
    height: 70px;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    border-radius: 35px;
    margin-left: 10px;
    line-height: 70px;
    text-align: center;
    vertical-align: middle;
    font-size: x-large;
}

.circle-danger {
    background-color: #d9534f;
    color: #f2dede;
}

.circle-warning {
    background-color: #f0ad4e;
    color: #fcf8e3;
}

.circle-info {
    background-color: #5bc0de;
    color: #d9edf7;
}