.yun-content {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
}

.yun-content .yun-left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    border-right-style: solid;
    border-right-color: silver;
    border-right-width: 1px;
}

.yun-content .yun-right {
    position: absolute;
    top: 0;
    left: 251px;
    bottom: 0;
    right: 0;
}

.yun-addbtn {
    width: 220px;
    padding: 15px;
    word-wrap: break-word !important;
    word-break: break-all !important;
    white-space: normal !important;
}

.yun-addbtn i {
    margin: 40px 0;
}

.yun-addbtn .text-muted {
    font-size: smaller;
}