.yun-content {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
}

.yun-content .left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    border-right-style: solid;
    border-right-color: silver;
    border-right-width: 1px;
}