<div class="yun-left">
    <!--首页功能-->
    <div class="navbar navbar-default navbar-static-top" style="margin: 0">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav" role="tablist" style="width: 100%">
                <li class="text-center active" style="width: 50%">
                    <a href="#app_menu" aria-controls="app_menu" role="tab" data-toggle="tab">
                        <i class="glyphicon glyphicon-th-list"></i> 应用菜单
                    </a>
                </li>
                <li class="text-center" style="width: 50%">
                    <a href="#app_favorites" aria-controls="app_favorites" role="tab" data-toggle="tab">
                        <i class="glyphicon glyphicon-heart"></i> 收藏夹
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--菜单栏-->
    <div class="tab-content yun-nav">
        <div role="tabpanel" class="tab-pane active" id="app_menu" ng-init="loadGroups()">
            <div tree-view tree-data="groups" text-field="GroupName" value-field='Id'></div>
        </div>
        <div role="tabpanel" class="tab-pane" id="app_favorites">
            收藏
        </div>
    </div>
</div>
<div class="yun-right">
    <div class="navbar navbar-blank navbar-static-top" style="margin: 0">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="">
                    <i class="glyphicon glyphicon-home"></i>
                </a>
            </div>
        </div>
    </div>
    <!--主内容-->
    <div style="margin-top: 50px">

    </div>
</div>