<div>
    <div class="modal-header">
        <h4 class="modal-title"><i class="glyphicon glyphicon-th-list"></i>&nbsp;组</h4>
    </div>
    <div class="modal-body">
        <form name="itemform" role="form">
            <div class="form-group" ng-class="{ 'has-error text-danger': itemform.GroupName.$invalid }">
                <div>
                    <label>名称：</label>
                    <span class="pull-right" ng-show="itemform.GroupName.$invalid">*名称是必填的</span>
                </div>
                <div>
                    <input name="GroupName" class="form-control" ng-model="$data.GroupName" required>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="$close($data)" ng-disabled="itemform.$invalid">确定</button>
        <button class="btn btn-default" type="button" ng-click="$dismiss()">取消</button>
    </div>
</div>