body {
    overflow: hidden;
}

.navbar-blank {
    background-color: transparent;
    border-color: #e7e7e7;
}

.yun-content {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
}

.yun-content-full {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.yun-content .yun-left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    border-right-style: solid;
    border-color: #e7e7e7;
    border-right-width: 1px;
}

.yun-content .yun-right {
    position: absolute;
    top: 0;
    left: 251px;
    bottom: 0;
    right: 0;
}

.yun-addbtn {
    width: 220px;
    padding: 15px;
    word-wrap: break-word !important;
    word-break: break-all !important;
    white-space: normal !important;
}

.yun-addbtn i {
    margin: 40px 0;
}

.yun-workbench {
    background: white;
    width: 900px;
    position: absolute;
    z-index: 1036;
    left: 0;
    top: 0;
    height: 100%;
    overflow: hidden;
    border-color: #e7e7e7;
    border-right-style: solid;
    border-right-width: 1px;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

.yun-message {
    background: white;
    position: absolute;
    z-index: 1037;
    left: 0;
    right: 0;
    top: 40px;
    height: 100%;
    overflow: hidden;
    border-color: #e7e7e7;
    border-top-style: solid;
    border-top-width: 1px;
    -webkit-box-shadow: 15px 5px 0 rgba(0, 0, 0, .5);
    box-shadow: 15px 5px 0 rgba(0, 0, 0, .5);
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

.yun-workbench-back,
.yun-message-back {
    background-color: black;
    opacity: .5;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1035;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.yun-workbench .yun-functions {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    height: 205px;
    padding: 40px 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #e7e7e7;
}

.yun-workbench .yun-apps {
    position: absolute;
    top: 256px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f8f8f8;
    overflow: auto;
}

.yun-apps .appblock {
    height: 150px;
}

.yun-apps .appbody {
    height: 86px;
}

.yun-workbench-show .yun-workbench {
    left: -900px;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.yun-message-show .yun-message {
    top: 100%;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.yun-workbench-show .yun-workbench-back,
.yun-message-show .yun-message-back {
    visibility: hidden;
}


/*圆形*/

.item-circle {
    width: 74px;
    height: 74px;
    padding-top: 10px;
    margin: 0 auto;
    -moz-border-radius: 37px;
    -webkit-border-radius: 37px;
    border-radius: 37px;
}

.item-circle-sm {
    width: 54px;
    height: 54px;
    -moz-border-radius: 27px;
    -webkit-border-radius: 27px;
    border-radius: 27px;
    margin-left: 10px;
    line-height: 54px;
    text-align: center;
    vertical-align: middle;
    font-size: large;
}

.circle-danger {
    background-color: #d9534f;
    color: #f2dede;
}

.circle-warning {
    background-color: #f0ad4e;
    color: #fcf8e3;
}

.circle-info {
    background-color: #5bc0de;
    color: #d9edf7;
}


/*顶部导航*/

.yun-headnav {
    margin-left: auto;
    margin-right: auto;
    border-bottom-style: none;
}

.yun-headnav .nav>li.active {
    border-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: grey;
}

.yun-headnav .nav>li>a {
    line-height: 14px;
    height: 46px;
}

.yun-headnav .bigfont .nav>li>a {
    line-height: 16px;
    font-size: 18px;
}

.yun-pagenav .nav>li.active {
    border-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: #0DB3A6;
    font-weight: bold;
}

.yun-pagenav .nav>li>a,
.yun-pagenav .nav>li>a:hover {
    background-color: transparent;
}

.yun-pagenav .nav>li>a {
    line-height: 14px;
    height: 44px;
}


/* 导航*/

.yun-nav .nav>li>a {
    padding: 10px 20px 10px 25px;
}


/* .yun-nav .nav>li>a:focus,
.yun-nav .nav>li>a:hover {
    color: #fff;
} */

.yun-nav .nav>li>a i {
    margin-right: 6px;
}

.yun-nav .nav>li.active {
    border-left: 4px solid;
}

.yun-nav .nav.nav-second-level>li.active {
    border: none;
}

.yun-nav .nav>li>.nav-second-level li a {
    font-size: 12px;
    border-radius: 0 2px 2px 0;
}

.yun-nav .nav-second-level li,
.yun-nav .nav-third-level li {
    border-bottom: none !important;
}

.yun-nav .nav-second-level li a {
    padding: 7px 15px 7px 10px;
    padding-left: 52px
}

.yun-nav .nav-second-level li:last-child {
    margin-bottom: 10px
}

.yun-nav .nav-third-level li a {
    padding-left: 62px
}

.arrow {
    float: right;
    margin-top: 2px;
}

.arrow-action {
    float: right;
    margin-top: 2px;
}


/*成员*/

.yun-member {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f7f7f7;
    overflow: auto;
}

.yun-member .yun-member-function {
    position: relative;
    width: 1078px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 1px solid #e7eaf1;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .05);
}

.yun-member .yun-member-function .yun-member-left {
    position: absolute;
    width: 250px;
    background-color: #fafcfe;
}

.yun-member .yun-member-function .yun-member-right {
    position: relative;
    margin-left: 251px;
}