<div class="yun-member" ng-controller="modules.member.controllers.user">
    <div class="yun-member-function">
        <div class="yun-member-left">
            <div class="navbar navbar-blank navbar-static-top yun-pagenav">
                <ul class="nav navbar-nav" style="width: 100%">
                    <li ng-class="{ 'active': $state.current.name==='app.user.org' }" style="width: 50%">
                        <a href="" class="text-center" ng-click="$state.go('app.user.org', { appid: $stateParams.appid })">组织机构</a>
                    </li>
                    <li ng-class="{ 'active': $state.current.name==='app.user.role' }" style="width: 50%">
                        <a href="" class="text-center" ng-click="$state.go('app.user.role', { appid: $stateParams.appid })">角色</a>
                    </li>
                </ul>
            </div>
            <div ng-show="$state.current.name==='app.user.org'">
                ot
            </div>
            <div ng-show="$state.current.name==='app.user.role'">
                rl
            </div>
        </div>
        <div class="yun-member-right" ui-view>

        </div>
    </div>
</div>